
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}



#Piano{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    width: 1000px;
    height: 400px;
    box-shadow: 1px 1px 1px black;
    border: 2px solid black;
    border-radius: 20px;
    margin: 100px auto 0;
    flex-direction: column;
    
}

.Controls{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.controls h1{
    font-weight: 500px;
    font-size: 1.4rem;
}

.switcher{
    width: 50px;
    height: 25px;
    display: flex;
    background-color: #555;
    border-radius: 50px;
    padding: 4px;
    
}

.switcher_button{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #ddd;
    border-radius: 25px;
}

.switcher_active{
    background-color: #006eff;
    justify-content: flex-end;
}

.checkbo_label{
    display: flex;
    gap: 15px;
}

.Piano_keys{
width: 100%;
height: 300px;
padding: 30px 40px;
background-color: #181818;
display: flex;
justify-content: space-between;
border-radius: 15px;

    
}

.key span{
    position:absolute;
    font-weight: 600;
    transition-duration: 300ms;
}

.key{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 8px;
    user-select: none;

}

.white{
    background-color:white;
    border: 2px solid black;
    flex-grow: 1;
    border-bottom: 8px solid #b4b4b4;
    border-radius: 5px;
    margin-left: -20px;
    z-index: 1;
    justify-content: space-between;
    
}

.black{
    background:linear-gradient(black, #333);
    border-radius:  0 0 5px 5px;
    border-bottom: 8px solid #222;
    width: 40px;
    height: 150px;
    margin-left: -20px;
    z-index: 2;
    color: rgba(255, 255, 255, 0.3);       
}

.Piano_keys.white:nth-child(1) {
    margin-left: 0;

}

.Piano_keys.white:nth-child(5) {
    margin-right: 20px;
    

}
.Piano_keys.white:nth-child(12) {
    margin-right: 20px;

}
.Piano_keys.white:nth-child(17) {
    margin-right: 20px;

}
/*Passar  a impressão de tecla preta pressionada.*/
.black--pressed {
    background: linear-gradient(#222, black);
    border-bottom: none;
    height: 148px;
}

.disabled-keys span{
    opacity: 0;
}

